#main-page #arrow{
    margin: 0 1vw 0 1vw;
}
#main-page button{
    background-color: #FF7D12;
    color: white;
    font-size: 2.3vh;
    height: 5vh;
    width: 8.3vw;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 1.3vw 0.5vw;
    border : 2px  solid white;
    border-radius: 1vh;
}
#main-page #table{
    margin: 12vh 0 0 0;
}
#main-page #man{
    position: relative;
}
#main-page #sidebar{
    display: flex;
    position: relative;
}