#top{
    background-color: white;
    height: 10vh;
    width:100vw;
    display: flex;
}
#top #icon{
    margin: 0 0 0 2vw;
}
#top button{
    background-color: #FF7D12;
    color: white;
    font-size: 1.9vh;
    height: 5vh;
    width: 6.3vw;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 1.3vw 0.5vw;
    border : 3px  solid  #FF7D12;
    border-radius: 1.5vh;
    
}
#top button:hover{
    background-color: white;
    color: #FF7D12;
    cursor: pointer;
}
#top #Dappname{
    color: #FF7D12;
    font-weight: 900;
    height: 5.2vh;
    font-size: 3vh;
    margin:1.5vw 1.5vw 1.5vw 1vw;
}
#top #nextworkingtime{
    background-color: white;
    font-size: 3vh;
    align-items:center;
    padding: 0.75vh 12vw 0.75vh 12vw;
    margin: 2vh 12vh 2vh 10vh;
    border : 3px  solid  black;
    border-radius: 1.5vh;
}
#top #selectlang{
    background-color: white;
    color: black;
    border: 3px solid #FF7D12;
    font-size: 1.9vh;
    border-radius: 100vh;
    height: 5vh;
    width: 8.5vw;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 1.3vw 0.3vw;
    padding: 20vw 5vw 20vw 5vw;
}